@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background: #050302;
}

button,
input {
  font: inherit;
}

* {
  box-sizing: border-box;
}
